<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.conststar.wall.dao.AdminReportCommentDao">
    <select id="getReportComments" resultType="CommentDomain">
        select `comment`.*, `user`.name as user_name, `comment_state`.description as state_name
        from `comment`,
             `user`,
             `report_comment`,
             `report_state`,
             comment_state
        where `comment`.`id` = `report_comment`.comment_id
          and `comment`.user_id = `user`.id
          and `comment`.state = `comment_state`.state
          and `report_comment`.state = `report_state`.state
          and `report_comment`.state = #{state}
        group by `report_comment`.comment_id
        order by `report_comment`.id
            limit #{startIndex}, #{pageSize};
    </select>

    <select id="getReportCommentCount" resultType="_int">
        select count(c.id)
        from (select `report_comment`.comment_id as id
              from `comment`,
                   `report_comment`,
                   `report_state`
              where `comment`.`id` = `report_comment`.comment_id
                and `report_comment`.state = `report_state`.state
                and `report_comment`.state = #{state}
              group by `report_comment`.comment_id) as c;
    </select>

    <select id="getSearchReportComments" resultType="CommentDomain">
        select `comment`.*, `user`.name as user_name, `comment_state`.description as state_name
        from `comment`,
             `user`,
             `report_comment`,
             `report_state`,
             `comment_state`
        where `comment`.`id` = `report_comment`.comment_id
          and `comment`.user_id = `user`.id
          and `comment`.state = `comment_state`.state
          and `report_comment`.state = `report_state`.state
          and `report_comment`.state = #{state}
          and `comment`.content like '%' || #{keyword} || '%'
        group by `report_comment`.comment_id
        order by `report_comment`.id
            limit #{startIndex}, #{pageSize};
    </select>

    <select id="getSearchReportCommentCount" resultType="_int">
        select count(c.id)
        from (select `report_comment`.comment_id as id
              from `comment`,
                   `report_comment`,
                   `report_state`
              where `comment`.`id` = `report_comment`.comment_id
                and `report_comment`.state = `report_state`.state
                and `report_comment`.state = #{state}
                and `comment`.content like '%' || #{keyword} || '%'
              group by `report_comment`.comment_id) as c;
    </select>

    <select id="getReportByComment" resultType="ReportCommentDomain">
        select *,
               `user`.name as report_user_name,
               `report_state`.description as state_name,
               `report_type`.description as type_name
        from `report_comment`,
             `user`,
             `report_state`,
             `report_type`
        where `report_comment`.report_user_id = `user`.id
          and `report_comment`.comment_id = #{commentId}
          and `report_comment`.type = `report_type`.type
          and `report_comment`.state = `report_state`.state;
    </select>

    <select id="getReportByReportUser" resultType="ReportCommentDomain">
        select *,
               `user`.name as report_user_name,
               `report_state`.description as state_name,
               `report_type`.description as type_name
        from `report_comment`,
             `user`,
             `report_state`,
             `report_type`
        where `report_comment`.report_user_id = `user`.id
          and `report_comment`.report_user_id = #{reportUserId}
          and `report_comment`.type = `report_type`.type
          and `report_comment`.state = `report_state`.state;
    </select>

    <update id="updateReportState">
        update `report_comment`
        set state = #{state}
        where comment_id = #{commentId};
    </update>
</mapper>