<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.conststar.wall.dao.AdminReportTableDao">

    <select id="getReportTables" resultType="TableDomain">
        select `table`.*, `table_state`.description as state_name
        from `table`,
             `report_table`,
             `report_state`,
             `table_state`
        where `table`.`id` = `report_table`.table_id
          and `table`.state = `table_state`.state
          and `report_table`.state = `report_state`.state
          and `report_table`.state = #{state}
        group by `report_table`.table_id
        order by `report_table`.id
            limit #{startIndex}, #{pageSize};
    </select>

    <select id="getReportTableCount" resultType="_int">
        select count(c.id)
        from (select `report_table`.table_id as id
              from `table`,
                   `report_table`,
                   `report_state`
              where `table`.`id` = `report_table`.table_id
                and `report_table`.state = `report_state`.state
                and `report_table`.state = #{state}
              group by `report_table`.table_id) as c;
    </select>

    <select id="getSearchReportTables" resultType="TableDomain">
        select `table`.*, `table_state`.description as state_name
        from `table`,
             `report_table`,
             `report_state`,
             `table_state`
        where `table`.`id` = `report_table`.table_id
          and `table`.state = `table_state`.state
          and `report_table`.state = `report_state`.state
          and `report_table`.state = #{state}
          and (`table`.sender like '%' || #{keyword} || '%'
            or `table`.recipient like '%' || #{keyword} || '%'
            or `table`.content like '%' || #{keyword} || '%')
        group by `report_table`.table_id
        order by `report_table`.id
            limit #{startIndex}, #{pageSize};
    </select>

    <select id="getSearchReportTableCount" resultType="_int">
        select count(c.id)
        from (select `report_table`.table_id as id
              from `table`,
                   `report_table`,
                   `report_state`
              where `table`.`id` = `report_table`.table_id
                and `report_table`.state = `report_state`.state
                and `report_table`.state = #{state}
                and (`table`.sender like '%' || #{keyword} || '%'
                  or `table`.recipient like '%' || #{keyword} || '%'
                  or `table`.content like '%' || #{keyword} || '%')
              group by `report_table`.table_id) as c;
    </select>

    <select id="getReportByTable" resultType="ReportTableDomain">
        select *,
               `user`.name as report_user_name,
               `report_state`.description as state_name,
               `report_type`.description as type_name
        from `report_table`,
             `user`,
             `report_state`,
             `report_type`
        where `report_table`.report_user_id = `user`.id
          and `report_table`.table_id = #{tableId}
          and `report_table`.type = `report_type`.type
          and `report_table`.state = `report_state`.state;
    </select>

    <select id="getReportByReportUser" resultType="ReportTableDomain">
        select *,
               `user`.name as report_user_name,
               `report_state`.description as state_name,
               `report_type`.description as type_name
        from `report_table`,
             `user`,
             `report_state`,
             `report_type`
        where `report_table`.report_user_id = `user`.id
          and `report_table`.report_user_id = #{reportUserId}
          and `report_table`.type = `report_type`.type
          and `report_table`.state = `report_state`.state;
    </select>

    <update id="updateReportState">
        update `report_table`
        set state = #{state}
        where table_id = #{tableId};
    </update>
</mapper>