<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.conststar.wall.dao.AdminTableDao">
    <select id="getTables" resultType="TableDomain">
        select `table`.*,`table_state`.description as state_name
        from `table`,`table_state`
        where `table`.state = `table_state`.state
        order by `table`.${rankName}
        <if test="rankType == false">
            DESC
        </if>
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getTableCount" resultType="_int">
        select count(`id`)
        from `table`;
    </select>

    <select id="getSearchTables" resultType="TableDomain">
        select `table`.*,`table_state`.description as state_name
        from `table`,`table_state`
        where `table`.state = `table_state`.state
        and (`table`.sender like '%' || #{keyword} || '%'
        or `table`.recipient like '%' || #{keyword} || '%'
        or `table`.content like '%' || #{keyword} || '%')
        order by `table`.${rankName}
        <if test="rankType == false">
            DESC
        </if>
        limit #{startIndex}, #{pageSize};
    </select>

    <select id="getSearchTableCount" resultType="_int">
        select count(`id`)
        from `table`
        where `table`.sender like '%' || #{keyword} || '%'
           or `table`.recipient like '%' || #{keyword} || '%'
           or `table`.content like '%' || #{keyword} || '%';
    </select>

    <select id="getTableById" resultType="TableDomain">
        select `table`.*,`table_state`.description as state_name
        from `table`,`table_state`
        where `table`.state = `table_state`.state
        and `id` = #{id};
    </select>

    <select id="getExamineCount" resultType="_int">
        select count(`id`)
        from `table`
        where state = 1;
    </select>

    <update id="updateTable">
        update `table`
        set `sender`           = #{sender},
            `sender_gender`    = #{senderGender},
            `recipient`        = #{recipient},
            `recipient_gender` = #{recipientGender},
            `content`          = #{content},
            `images`           = #{images},
            `notify_email`     = #{notifyEmail},
            `state`            = #{state}
        where `id` = #{id};
    </update>

    <update id="deleteTable">
        delete
        from `table`
        where `id` = #{id};
    </update>
</mapper>